<nav class="fixed top-0 z-50 w-full border-b border-[#D9625E]/10 bg-white/80 backdrop-blur-md">
	<div class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
		<div class="flex h-20 items-center justify-between">
			<a href="/" class="flex items-center gap-2">
				<img src="/favicon.svg" alt="Lumi Logo" class="h-10 w-10" />
				<span class="text-5xl font-extrabold tracking-tight text-[#D9625E]">Lumi</span>
			</a>

			<div class="hidden items-center space-x-8 font-medium text-[#17233d] md:flex">
				<button
					class="rounded-full bg-[#D9625E] px-6 py-2.5 font-bold text-white transition-all hover:opacity-90 cursor-pointer"
					type="button"
				>
					Descargar App
				</button>
			</div>
		</div>
	</div>
</nav>
